{{{subreddit.description_html}}}
{{#if subreddit.roll.length}}
  <hr>
  <h4>Signature Roll</h4>
  <ul>
  {{#each item in subreddit.roll}}
    <li {{bind-attr title=item.publicKey}}>{{item.user}}</li>
  {{/each}}
  </ul>
{{/if}}
