#maincontainer {
  margin-top: 60px;
}

#footer {
  text-align: center;
}

.homepage .jumbotron {
  text-align: center;
}

.media-body .media-heading {
  float: left;
  margin-right: 0.5em;
}
.media-body .md {
  clear: both;
}
