<div class='row'>
  <div class='col-md-9'>
    <div class='panel panel-default'>
      <ol class='list-group'>
      {{#each item in model}}
        <li class='list-group-item'>{{link-entry item=item}}</li>
      {{/each}}
      </ol>
    </div>
  </div><div class='col-md-3'>
    {{subreddit-sidebar subreddit=model.subreddit}}
  </div>
</div>
