
<div class='row'>
  <div class='col-md-8'>
    <h1>What is FairShare?</h1>

    <hr>

    <h2>Proof of Entitlement</h2>

    <p>A Proof of Entitlement determines who is eligible to receive a FairShare</p>

    <h2>Administration</h2>
    <p>Some actor(s) need to manage and administer a FairShare system.  This could be software, or social.</p>

    <h2>Income Escrow</h2>
    <p>A FairShare system must have a pool (or other source) of currency to distribute.</p>


    <h2>Distribution Model</h2>
    <p>A FairShare system should define how the Income Escrow gets distributed to entitled participants</p>

    <hr>

    <h1>FairShare is just an idea.  Run with it!</h1>
    <blockquote>
      <p>
        That ideas should freely spread from one to another over the globe,
        for the moral and mutual instruction of man, and improvement of his condition,
        seems to have been peculiarly and benevolently designed by nature, when she made them,
        like fire, expansible over all space, without lessening their density in any point,
        and like the air in which we breathe, move, and have our physical being,
        incapable of confinement or exclusive appropriation.
      </p>
      <footer>Thomas Jefferson</footer>
    </blockquote>
  </div><div class='col-md-4'>
    <h3>Examples</h3>
    <hr>
    <h4><a href='http://reddit.com/r/GetFairShare' target='reddit'>/r/GetFairShare</a></h4>
    POE: Reddit Account<br>
    ADM: Interim Benevolent Dictator<br>
    IE: Crypto Tip bots + Voluntary donations<br>
    DM: 1/10 of tip jar daily to commenters
    <h4>Voluntary-Stateless UBI</h4>
    POE: To Be Determined<br>
    ADM: Crypto-Multisig Democracy<br>
    IE: P2SH Multisig + Voluntary donations<br>
    DM: 1/10 of P2SH daily to requesters
    <h4>Demurred Crypto UBI</h4>
    POE: To Be Determined<br>
    ADM: Crypto-Multisig Democracy<br>
    IE: Dedicated Cryptocurrency with Demmurage<br>
    DM: 100% of demurred funds per period
    <h4>Corporate/Cooperative UBI</h4>
    POE: Stockholders<br>
    ADM: Corporate Board of Directors<br>
    IE: Corporate/cooperative profits<br>
    DM: Percentage of profits disbursed as dividends
    <h4>Authoritarian Communism</h4>
    POE: Comrade's Papers<br>
    ADM: Government<br>
    IE: 100% tax rate<br>
    DM: Some % of all collected taxes
  </div>
</div>
