
<div class='row'>
  <div class='col-md-8'>
    <h1>What is FairShare?</h1>

    <h4>An apolitical approach to <a href='https://reddit.com/r/BasicIncome/wiki'>Universal Basic Income</a></h4>
    <p>FairShare is a collection of ideas about how to distribute and manage a Universal Basic Income.</p>
    <p>Multiple implementations have been proposed; from Stateless-Voluntary solutions, to Authoritarian communism</p>
    <p>We <strong>do what we can</strong> to move forward instead of commiserating on what needs to be accomplished</p>

    <h2><a href='https://reddit.com/r/FairShare/wiki/ProofOfEntitlement'>Proof of Entitlement</a></h2>

    <p>A Proof of Entitlement determines who is eligible to receive a FairShare</p>

    <h2>Administration</h2>
    <p>Some actor(s) need to manage and administer a FairShare system.  This could be software, or social.</p>

    <h2><a href='https://reddit.com/r/FairShare/wiki/IncomeEscrow'>Income Escrow</a></h2>
    <p>A FairShare system must have a pool (or other source) of currency to distribute.</p>


    <h2>Distribution Model</h2>
    <p>A FairShare system should define how the Income Escrow gets distributed to entitled participants</p>

    <h1>Unix Philosophy</h1>
    <p>We embrace the <a href='http://homepage.cs.uri.edu/%7Ethenry/resources/unix_art/ch01s06.html' target='_new'>Unix Philosphy</a> in our process</p>
    <h1>Read More at <a href='https://reddit.com/r/FairShare/wiki'>/r/FairShare/wiki</a></h1>
  </div><div class='col-md-4'>
    <h4><a href='https://reddit.com/r/GetFairShare/about/sticky'>/r/GetFairShare</a></h4>
    POE: Reddit Account<br>
    ADM: Interim Benevolent Dictator<br>
    IE: Crypto Tip bots + Voluntary donations<br>
    DM: 1/10 of tip jar daily to commenters
    <h2>FairShare Ideas</h2>
    <h4><a href='https://reddit.com/r/FairShare/wiki/VoluntaryStatelessDistributed'>Voluntary-Stateless UBI</a></h4>
    POE: To Be Determined<br>
    ADM: Crypto-Multisig Democracy<br>
    IE: P2SH Multisig + Voluntary donations<br>
    DM: 1/10 of P2SH daily to requesters
    <h4>Demurred Crypto UBI</h4>
    POE: To Be Determined<br>
    ADM: Crypto-Multisig Democracy<br>
    IE: Dedicated Cryptocurrency with Demmurage<br>
    DM: 100% of demurred funds per period
    <h4><a href='https://www.reddit.com/r/FairShare/comments/319aam/ubicorp_brainstorming_the_fundamentals_of_a/'>Corporate/Cooperative UBI</a></h4>
    POE: Stockholders<br>
    ADM: Corporate Board of Directors<br>
    IE: Corporate/cooperative profits<br>
    DM: Percentage of profits disbursed as dividends
    <h4>Authoritarian Communism</h4>
    POE: Comrade's Papers<br>
    ADM: Government<br>
    IE: 100% tax rate<br>
    DM: Some % of all collected taxes
  </div>
</div>
<hr>
<div class='jumbotron'>
  <blockquote>
    <p>
      We shouldn’t delay forever until every possible feature is done. There’s always going to be one more thing to do.
    </p>
    <footer>Satoshi Nakamoto</footer>
  </blockquote>
  <blockquote>
    <p>
      Never doubt that a small group of thoughtful, committed citizens can change the world; indeed, it’s the only thing that ever has.
    </p>
    <footer>Margaret Mead</footer>
  </blockquote>
  <blockquote>
    <p>
      When you want to build a ship, do not begin by gathering wood, cutting boards, and distributing work, but rather awaken within men the desire for the vast and endless sea
    </p>
    <footer>Antoine de Saint Exupéry</footer>
  </blockquote>
  <blockquote>
    <p>
      That ideas should freely spread from one to another over the globe,
      for the moral and mutual instruction of man, and improvement of his condition,
      seems to have been peculiarly and benevolently designed by nature, when she made them,
      like fire, expansible over all space, without lessening their density in any point,
      and like the air in which we breathe, move, and have our physical being,
      incapable of confinement or exclusive appropriation.
    </p>
    <footer>Thomas Jefferson</footer>
  </blockquote>
</div>
