<div class='row homepage'>
  <div class='col-md-2'></div>
  <div class='col-md-8'>
    <div class='jumbotron'>
      <h1>Welcome to {{link-to 'FairShare!' 'about'}}</h1>
      <hr>
      <p>An apolitical approach to <a href='http://reddit.com/r/BasicIncome' target='reddit'>Universal Basic Income</a></p>
      <p>
        {{link-to 'Calculate FairShare' 'ubi' class='btn btn-primary'}}
        {{link-to 'What is FairShare?' 'about' class='btn btn-primary btn-lg'}}
        <a href='http://reddit.com/r/FairShare' target='reddit' class='btn btn-primary'>
          Discuss on reddit
        </a>
      </p>
      <hr>
      <blockquote>
        <p>We shouldn’t delay forever until every possible feature is done. There’s always going to be one more thing to do.</p>
        <footer>Satoshi Nakamoto</footer>
      </blockquote>
    </div>
  </div>
  <div class='col-md-2'></div>
</div>
