<div class='jumbotron'>
  <h1>Privacy Policy</h1>
  <h2>
  This is separate from
  <a href='https://www.reddit.com/help/privacypolicy' class='dontintercept'>reddit.com's Privacy Policy</a>
  </h2>
  <hr>
  <p>This app runs entirely in your browser and never phones home.</p>
  <p>There is no home to phone, this app is hosted on github pages.</p>
  <p>No data gets stored or sent back to non-reddit servers.</p>
  <p>You can verify this using your browser's network inspector.</p>
  <hr>
  <p>Blockchain and price data is fetched from <a href='https://chain.so'>chain.so</a></p>
  <p>Bitcoin transactions are posted to <a href='https://blockchain.info/'>blockchain.info</a></p>
  <p>All other data hosted on
    <a target='github' href='https://github.com/Fair-Share'>github.io</a>
    and <a target='reddit' class='nointercept'>reddit.com</a>
  </p>
  <hr>
  <h3>No private data is ever collected, stored or transmitted by FairShare</h3>
</div>
